body {
    background-image: linear-gradient(to right, rgb(165, 42, 42), yellow); 
    
}

#app-title {
    color: rgb(226, 43, 43);
    font-size: 35px;

}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-size: 30px;
    font-weight: 900;
    color: black;
}
   
   #get-activity {
    font-weight: 600;
    font-size: 20px;
       margin-top: 50px;
       width: 200px;
       height: 200px;
       border-radius: 100px;
       background-color: brown;
       border: solid 2px gray;
   }
